body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

main {
    padding: 20px;
}

h2 {
    color: var(--text-primary);
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Tabellen-Stile */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--table-border-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--table-header-bg);
}

body.dark-mode th {
    background-color: #333333;
    color: #e0e0e0;
}

body.light-mode th {
    background-color: #f1f1f1;
    color: #000000;
}
:root {
    --background-light: #ffffff;
    --background-dark: #121212;
    --text-light: #000000;
    --text-dark: #e0e0e0;
}

body.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}
