body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('assets/images/background/Lobby-Mid.png'); /* Hintergrundbild */
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p.info {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8); /* Halbtransparentes Weiß */
}

.server-ip {
    font-weight: bold;
    color: white;
}

.ip {
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease; /* Sanfter Übergang für Farbe */
}

.ip:hover {
    color: #00BFFF; /* Farbe beim Hover (Hellblau) */
}

.ip.copied {
    color: rgb(191, 191, 255);
}


body {
    background-image: url('assets/images/background/Lobby-Mid.png'); /* Pfad zu deinem Bild */
    margin: 0;
    padding: 0;
    background-size: cover;        /* Deckt den gesamten Bereich ab */
    background-position: center;   /* Zentriert das Bild */
    background-repeat: no-repeat;  /* Verhindert Wiederholungen des Bildes */
    background-attachment: fixed;  /* Fixiert das Bild im Hintergrund */
    min-height: 100vh;      
}

main {
    margin-top: 1px;
}


.middle {
    margin-top: 20%;
    margin-bottom: 25%;
    color:rgb(192, 255, 255);
}
